/* @font-face {
  font-family: sail-regular;
  src: url(../fonts/Sail-Regular.ttf);
}
@font-face {
  font-family: raleway-semiBold;
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
  font-family: raleway-medium;
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: themify;
  src: url(../fonts/themify.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: 'Domine';
  src: url(../fonts/'Domine'.ttf);
}

@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
} */
@import url('https://fonts.googleapis.com/css?family=Domine|Raleway:400,500,600,700,800|Sail&display=swap');

.sail-font{
  font-family: 'Sail', cursive !important;
  font-weight: 400;
}
body{
  padding-bottom: 300px;
}
html {
  background-color: #faf9f7;
}

.container {
  max-width: 1170px;
  padding: 0;
}

.navbar {
  padding: 32px 0 32px 0;
}
.col-3.p-left{
  padding-left: 13px;
}
.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-nav.menu-icon-header{
  font-family: 'Raleway';
  font-weight: 600; 
  /* semi bold */
  margin-left: 53px;
}

.raleway-font {
  font-family: 'Raleway';
  font-size: 17px;
  color: rgb(51, 51, 51);
  font-weight: 600 !important;
}

.nav-item a i {
  color: black;
  padding-left:1px;
  display: inline-block;
}
.nav-link{
  padding: 15px 0 14px 0 !important;
}
.nav-link::after {
  display: none;
}

.home-dropdown {
  padding-left:53px;
  padding-right:33px;
}

.shop-dropdown {
  padding-right: 37px;
}

.page-dropdown {
  padding-right:36px;
}


.menu-header {
  width: 100%;
}

.ti-angle-down {
  font-size: 11px;
}

.menu-icon-header{
  padding-left: 30px;
}

.menu-icon {
  padding: 7px 26px 0 0;

}

.menu-icon:last-child {
  padding-bottom: 9px;
  padding-left: 54px;
  position: relative;
  padding-right: 0;
}
.circle {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 2px #e0e0e0;
  top: 4px;
  left: 35px;
}

.menu-icon i {
  font-size: 22px;
}

.notification {
  position: relative;
}

.badge {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 6px;
  left: 20px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  background: #c44860;
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-link {
  position: relative;
}

.shop-badge {
  position: absolute;
  font-size: 10px;
  color: white;
  background: #c44860;
  padding: 2px 11px;
  border-radius: 10px;
  bottom: 38px;
  right: 47px;
  font-family: 'Raleway';
  font-weight: 600;
}

.background {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 82px;
  padding-bottom: 90px;
}

.breadcrumb-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-title,
.breadcrumb-item {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumb-title {
  font-size: 45px;
  margin-bottom: 5px;
}

.breadcrumb-item {
  padding-left: 0 !important;
}

.breadcrumb-item .path {
  color: white;
  padding-left: 5px;
  font-size: 14px;
}

.bread-red {
  color: #c44860;
  font-size: 14px;
}

/* Mega menu */
.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 1290px;
  left: -55px;
  margin: 0;
  border-radius: 0;
  padding: 60px;
}

.sub-menu>a {
  /*
  padding: 0;
  padding-bottom: 25px;
    
*/
  padding: 0;
  padding-bottom: 20px;
}

.sub-menu a:first-child {
  padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: none;
}

/* content */
.spacing-left {
  margin-top: 110px;
}

.title {
  font-size: 35px;
  font-family: raleway-semiBold;
}

.content {
  margin-top: 25px;
}

.square {
  height: 70px;
  width: 70px;
  position: relative;
  margin-top: 50px;
}

.square-red {
  background-color: #c44860;
}

.square-blue {
  background-color: #5892d0;
}

.square-green {
  background-color: #4d772d;
}

.square-gray {
  background-color: #797476;
}

.square-black {
  background-color: #333333;
}

.square-color-code {
  width: 70px;
  text-align: center;
  font-family: 'Domine';
  color: #797476;
  position: absolute;
  bottom: -38px;
  left: 15px;
}

/* typography */
.para {
  font-size: 15px;
  font-family: 'Domine';
  line-height: 26px;
  padding-bottom: 20px;
}

.text-link>a {
  text-decoration: none;
}

.text-link {
  margin-top: 20px;
  margin-bottom: 50px;
}

a.normal-link,
a.hover-normal-link {
  display: inline-block;
  padding-right: 24px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

a.normal-link:hover,
a.uppercase-link:hover {
  color: #c44860 !important;
  cursor: pointer;
}

a.hover-normal-link,
a.hover-upper-link {
  color: #c44860 !important;
  cursor: pointer;
}

.uppercase-link,
.hover-upper-link {
  display: inline-block;
  text-transform: uppercase;
  font-family: Raleway-ExtraBold;
  font-size: 13px;
  padding-right: 24px;
}

.fa-caret-left {
  margin-right: 10px;
}

/* text-header */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway' !important;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 700;
}

h1 {
  font-size: 35px !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 25px !important;
}

h4 {
  font-size: 14px !important;
}

h5 {
  font-size: 13px !important;
}

/* add to cart button */
.add-to-cart-btn-hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C2485E), color-stop(100%, #F2AC79));
  padding: 15px 40px 15px 40px;
  border-radius: 80px;
  border: transparent;
  color: white;
  font-family: 'Raleway';
  font-size: 18px;
}

.add-to-cart-btn-wrap {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C2485E), color-stop(100%, #F2AC79));
  border-radius: 80px;
  padding: 3px;
  font-family: 'Raleway';

}

.ti-arrow-right {
  padding-left: 28px;
  padding-right: 24px;
  color: #aba7a8;
  font-size: 18px;
}

.add-to-cart-btn {
  border: transparent;
  border-radius: 80px;
  background:#fdeee1;
  color: black;
  padding: 13.5px 38.5px 13.5px 38.5px;
  font-size: 18px;
  transition: 0.3s;
}

.btn-special {
  padding-top: 80px;
}

.add-to-cart-spc-btn,
.add-to-cart-spc-btn-hover {
  background: #c44860;
  padding: 15px 40px 15px 40px;
  border-radius: 80px;
  border: transparent;
  color: white;
  font-family: 'Raleway';
  font-size: 18px;
  transition: 0.3s;
}

.add-to-cart-spc-btn-hover {
  background: #f4ae7b;
}

.add-to-cart-btn,
.add-to-cart-spc-btn,
.add-to-cart-btn-hover,
.add-to-cart-spc-btn-hover {
  position: relative;
}

/* .add-to-cart-spc-btn::after,
.add-to-cart-btn::after {
  content: "Active";
  font-family: 'Domine';
  font-size: 15px;
  position: absolute;
  color: #8e8a8b;
  bottom: -39px;
  left: 68px;
} */

.add-to-cart-spc-btn-hover::after,
.add-to-cart-btn-hover::after {
  content: "Hover";
  font-family: 'Domine';
  font-size: 15px;
  position: absolute;
  color: #8e8a8b;
  bottom: -39px;
  left: 68px;
}

.add-to-cart-spc-btn:hover {
  background: #f4ae7b;
}

.add-to-cart-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C2485E), color-stop(100%, #F2AC79));
  color: white;
}
/* button sizes */
.normal-button{
  background: #c44860;
  padding: 15px 41px 15px 41px;
  border-radius: 80px;
  border: transparent;
  color: white;
  font-family: 'Raleway';
  font-size: 18px;
  transition: 0.3s;
  margin-right: 25px;
}
.normal-button-sm{
  padding: 9px 30px;
  font-size: 15px;
  font-family: 'Raleway';
}
.normal-button-xs{
  padding: 6px 22px;
  font-family: 'Raleway';
  font-size: 13px;
}

.normal-button-sm-wrapper, .normal-button-xs-wrapper, .normal-button-wrapper{
  display: inline-block;
  position: relative;
  height: 100%;
}
.normal-button-sm-wrapper::after{
  content: "Height = 40px";
  position: absolute;
  bottom: -42px;
  left: 28px;
  font-family: 'Domine';
  font-size: 15px;
  color: #989495;
}
.normal-button-xs-wrapper::after{
  content: "Height = 32px";
  position: absolute;
  bottom: -46px;
  left: 18px;
  font-family: 'Domine';
  font-size: 15px;
  color: #989495;
}
.normal-button-wrapper::after{
  content: "Height = 55px";
  position: absolute;
  bottom: -33px;
  left: 43px;
  font-family: 'Domine';
  font-size: 15px;
  color: #989495;
}
/* list */

.list-no-style{
  list-style: none;
}
.list-link{
  font-family: 'Domine';
  color: #797476;
  font-size: 15px;
}
.list-link{
  display: inline-block;
  padding: 15px 0 8px 0;
  line-height: 18px;
}
.list-link:hover{
  text-decoration: none;
  color: #C2485E;
}
.list-link-dashed:hover.list-link-dashed::before{
  content: "";
  display: inline-block;
  border: solid #c44860;
  margin-right: 5px;
  width: 10px;
  height: 5px;
  border-width: 2px 0 0 0 ;
}
.list-link-dot::before{
  content: "";
  display: inline-block;
  background-color: #8e8a8b;
  border-radius: 50%;
  margin-right: 8px;
  width: 6px;
  height: 6px;
}
.list-link-dot:hover.list-link-dot::before{
  background-color: #c44860;
}

/* custom number list */
.list-item-counter{
  counter-increment: my-awesome-counter;
}
.list-number{
  counter-reset: my-awesome-counter;
}
.list-link-counter::before{
  content: counter(my-awesome-counter) ". ";
  color:#8e8a8b;
  font-family: 'Domine';
  font-size: 15px;
}
.list-link-counter:hover.list-link-counter::before{
  color: #c44860;
}

/* Alert Field */
.alert-field{
  padding: 12px 27px;
  margin-bottom: 9px;
  color: #fef4f5;
  font-family: 'Domine';
  font-size: 14px;
  position: relative;
}
.alert-field-success{
  background: #f52e55;
 
}
.alert-field-notification{
   background: #f4b757;
}
.alert-field-warning{
  background: #b4d932;
}
/* alert before after */
.alert-field-success::before{
  content: "\e64c";
  color: #fef4f5;
  font-family: themify;
  padding-right: 10px;
}
.alert-field-notification::before{
  content: "\e717";
  color: #fef4f5;
  font-family: themify;
  padding-right: 10px;
}
.alert-field-warning::before{
  content: "\e718";
  color: #fef4f5;
  font-family: themify;
  padding-right: 10px;
}



.alert-field::after{
  position: absolute;
  content: "\e646";
  width: 26px;
  height: 26px;
  top: 11px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: themify;
  background: #fef4f5;
}
.alert-field-success::after{
  color: #f52e55;
}
.alert-field-notification::after{
  color: #f4b757;
}
.alert-field-warning::after{
  color: #b4d932;
}


/* btn-quantity */
button:focus{
  outline: 0;
}
.my-btn{
  margin-top: 50px;
  margin-left: 30px;
  border: 1px solid #8e8a8b;
  border-radius: 30px;
  padding: 11px 50px;
  background: transparent;
  display: inline-block;
  color: #8e8a8b;
  font-size: 14px;
  position: relative;
}
.my-btn__quantity{
  width: 20px;
  font-weight: bold;
  color: black;
}
.ti-minus{
  position: absolute;
  top: 14px;
  left:20px;
}
.ti-plus{
  position: absolute;
  top: 14px;
  right: 20px;
}
/*Form*/
.my-form {
  margin-bottom: 24px;
}

.my-form .text-field {
  border: 1px solid black;
  border-radius: 20px;
  border-color: #d2d2d2;
  padding: 9px;
  display: block;
  width: 100%;
  border-style: dashed;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url('../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: center right 21px;
  text-indent: 12px;
  margin-bottom: 24px;
}

.my-form .my-text-field {
  border: 1px dashed;
  border-radius: 20px;
  border-color: #d2d2d2;
  padding: 10px;
  display: block;
  width: 100%;
  line-height: 0;
  margin-bottom: 24px;
}

.text-field-dropdown::before {
  display: none;
}

.my-form__label {
  font-family: 'Domine';
  font-size: 15px;
  margin-bottom: 15px;
}

.my-form .title {
  padding-bottom: 19px;
}

.my-text-field.text-field-focus {
  border-color: black;
}

.my-text-field.text-field-error {
  border-style: dashed;
  border-color: #c44860;
}

.error-form {
  position: relative;
}

.error-msg {
  position: absolute;
  bottom: -50px;
  left: 0;
  font-family: 'Domine';
  font-size: 15px;
  color: #c44860;
}
.multiple-select{
  margin-bottom: 50px;
}
.multiple-select select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  /* get rid of default appearance for IE8, 9 and 10*/
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  min-height: 278px;
  padding: 10px 30px 10px 30px;
  -webkit-box-shadow: 0px 0px 38px 2px #f2f1ef;
  -moz-box-shadow: 0px 0px 38px 2px #f2f1ef;
  box-shadow: 0px 0px 38px 2px #f2f1ef;
  -webkit-appearance: none;
}

.multiple-select select option {
  box-sizing: border-box;
  border-bottom: 1px dashed #d2d2d2;
  padding: 17px 0 15px 0;
  font-size: 15px;
  font-family: 'Domine';
}

.multiple-select select option:last-child {
  border-bottom: none !important;
}

.multiple-select select option:hover {
  color: #c44860;
  background-color: white !important;
  text-indent: 15px;
}

/* custom radio || custom checkbox */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: 'Domine';
  font-size: 14px;
  letter-spacing: 0.5px;
}

.radio-container__input {
  display: none;
  cursor: pointer;
}

.radio-container__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  border: 1px solid rgb(189, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-container__input:checked~.radio-container__checkmark--square::after{
  display: block;
}
.radio-container__input:checked~.radio-container__checkmark--rounded::after{
  display: block;
}
.radio-container__checkmark--square::after {
  font-family: themify;
  content: "\e64c";
  color: #8e8a8b;
  display: none;
}
.radio-container__checkmark--rounded::after{
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #C2485E;
  display: none;
}
.radio-container__checkmark--rounded{
  border-radius: 50%;
}
.radio-container__checkmark--square{
  border-radius: 5px;
}

/* pagination */
.pagi-content{
  margin-top: 30px;
}
.pagination-circle-dot-wrapper{
  display: inline-block;
}
.pagination-circle-dot{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 2px solid #efd5d8;
  position: relative;
  display: inline-block;
  margin-right: 13px;
}

.pagination-circle-dot:focus.pagination-circle-dot::after{
  content: "";
  position: absolute;
  top:2.5px;
  right:2.5px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #c44860;
  display: inline-block;
}

.pagination-txt-btn{
  display: inline-block;
}
.pre-btn,.nxt-btn{
  margin-left: 10px;
  padding: 3px 15px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family:  'Raleway';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #494948;
  border: 1px solid transparent;
}
.pre-btn:hover,.nxt-btn:hover{
  border: 1px solid #e0e0df;
  text-decoration: none;
  color: #494949;
}
.numb-btn-circle{ 
  padding: 3px 11px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  color: #494948;
  border: 1px solid #eeeeee;
  font-family: 'Domine';
  font-size: 14px;
  background-color: white !important;
}
.pagination-numb-btn{
  display: inline-block;
}
.numb-btn-circle:hover{
  color: #c44860;

  text-decoration: none;
}