@media screen and (max-width: 1500px){
    .new-arrivals{
        position: static !important;
    }
}
@media screen and (max-width: 1230px){
    .deal-txt-wrapper{
        height: 100% !important;
        top: 0 !important;
    }
    .deal-txt-wrapper .deal-txt{
        align-items: center !important;
        justify-content: center !important;
        height: 100%;
        width: 100%;
    }
}