@sale-color: #fec104;

.menu-wrapper {
    position: fixed;
    padding: 33px 0;
    transition: 0.6s;

    .navbar {
        padding: 0;
    }

    &.fix-menu {
        position: fixed;
        background: white;
        transition: 0.6;
        padding: 10px 0;
    }
}

.slider-txt {
    .wrap-pos {
        &.owl-slide-animated {
            transform: translateX(70px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.05s;

            &.is-transitioned {
                transform: none;
                opacity: 1;
                visibility: visible;
                transition: all 1.5s;
                transition-delay: 0.8s;
            }
        }

        position: relative;
        top: 42.6%;
        left: 459px;
        width: 683px;

        .sale {
            background: white;
            border: 1px solid transparent;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-size: cover;
            // padding: 20px;
            position: absolute;
            right: -32px;
            top: -43px;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.13);
            -moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.13);
            box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.13);

            .sale__type {
                padding-top: 22px;
                font-size: 15px;
                text-transform: uppercase;
                color: @sale-color;
                line-height: 1;
            }

            .sale__amount {
                font-size: 30px;
                line-height: 1;
                color: @sale-color;
                padding-top: 1px;
                padding-left: 6px;
            }
        }

        .slider-txt-wrapper {
            z-index: 108;
            position: relative;
        }
    }
}

.img-sm,
.img-md,
.img-lg {
    width: 100%;
    position: relative;
    transition: all .2s ease-in-out;
}

// .grow { transition: all .2s ease-in-out; }
.grow:hover .img-md,
.grow:hover .img-sm,
.grow:hover .img-lg {
    transform: scale(1.1);
}



.gradient-border::before {
    content: "";
    z-index: 10;
    border: 10px solid;
    border-image-source: linear-gradient(#c44860, #f4ae7b);
    border-image-slice: 5;
    margin: 1.875rem;
    position: absolute;
    z-index: 10;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    opacity: .5;
}

.text-top-left {
    position: absolute;
    top: 15%;
    left: 15%;
    // padding: 40px 34px;
}

.text-bottom-right {
    position: absolute;
    top: 15%;
    right: 15%;

    .text-content {

        // margin: 0px 49px 120px 0px ;
        .text-title,
        .text-sub-title {
            text-align: right;
        }
    }

    .text-content.lg-img {

        // margin: 40px 100px;
        .text-title,
        .text-sub-title {
            font-size: 30px;
        }
    }

    .text-content.lg-img-right {
        margin: 20px 24px;

        .text-title,
        .text-sub-title {

            font-size: 30px;
        }
    }
}

.text-bottom-left {
    position: absolute;
    top: 15%;
    right: 15%;

    .text-content {

        // margin: 0px 49px 120px 0px ;
        &.lg-img-left {

            // margin: 20px 24px;
            .text-title,
            .text-sub-title {
                font-size: 30px;
                text-align: left;
            }
        }
    }

}

.text-middle-right {
    position: absolute;
    top: 15%;
    right: 15%;
}

.text-bottom-middle {
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .text-content-middle {
        width: 200px;

        .text-title,
        .text-sub-title {
            margin-bottom: 20px;
            font-size: 30px;
            text-align: center;
        }
    }
}

.text-content {
    border-bottom: 1px solid #c44961;
    padding-bottom: 6px;
}

.text-title {
    color: #494848;
}

.text-sub-title {
    color: #c44961;
}

.text-title,
.text-sub-title {
    font-size: 1.25rem;
}

.maincontent {
    .fixed-img {
        overflow: hidden !important;
        // margin:0 6px 0 6px;
        margin: 5px;
    }

    padding: 27px 31px 0 32px;
}

// best seller
.best-seller {
    .best-seller-title {
        text-align: center;
        line-height: 1;
        padding: 23px 13px 0 0;
        position: relative;

        .background-name {
            font-size: 120px;
            opacity: 0.1;

            &::first-letter {
                font-size: 150px;
            }

        }

        .heading-title {
            font-size: 35px;
            position: absolute;
            top: 59%;
            left: 44.8%;
            height: 62px;
            opacity: 1 !important;
            color: black;

            &::after {
                content: "";
                position: absolute;
                width: 56px;
                height: 2px;
                background-color: #c44860;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

            }
        }
    }

    .best-seller-product {
        max-width: 1190px;
        margin: 20px auto;

        .owl-theme .owl-nav.disabled+.owl-dots {
            width: 8%;
            display: flex;
            justify-content: space-evenly;
            margin: 42px auto 0 auto;

        }

        .item-hover:hover .quick-action-wrapper {
            //    display: flex;
            opacity: 1;
            transform: scaleX(1);
        }

        .item-hover:hover .item::after {
            display: none;
        }

        .item {
            padding: 0 10px 0 10px;
            position: relative;
            font-family: Raleway;
            font-weight: 600px;
            color: white;

            >img {
                min-height: 325px;
            }

            &.sale::after {
                content: "SALE";
                background: #c44860;
            }

            &.new::after {
                content: "NEW";
                background: #f4ae7b;
            }

            &.hot::after {
                content: "HOT";
                background: #4d772d;
            }

            &.sale::after,
            &.new::after,
            &.hot::after {
                position: absolute;
                top: 29px;
                left: 15px;
                line-height: 1;
                text-align: center;
                padding: 7px 20px;
                font-size: 12.89px;
                letter-spacing: 3px;
                transform: rotate(270deg);
                min-width: 82.75px;
            }

            .quick-action-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 30px;
                // justify-content: center;
                // align-items: center;
                // display: none;
                transform: scaleX(0);
                transition: all 0.4s;
                opacity: 0;

                .quick-action {
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                    background: white;
                    text-align: center;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    -webkit-box-shadow: 0px 2px 30px 0px rgba(133, 133, 133, 0.25);
                    -moz-box-shadow: 0px 2px 30px 0px rgba(133, 133, 133, 0.25);
                    box-shadow: 0px 2px 30px 0px rgba(133, 133, 133, 0.25);

                    // width: 73%;
                    // opacity: 0;
                    .txt-content {
                        color: #adaaab;
                        font-size: 15px;
                        font-family: Domine;
                        line-height: 23px;
                        max-width: 80%;
                        margin: 0 auto;
                        /* fallback */
                        // max-height: 32px;
                        /* fallback */
                        /* number of lines to show */
                        margin-bottom: 29px !important;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis; // dau 3 cham
                    }

                    .action-btn {
                        // outline: none;
                        // box-shadow: none;
                        border: 1px solid #e9e9e9;
                        border-radius: 50%;
                        padding: 10px 10px;
                        background: transparent;
                        color: #a5a0a1;
                        font-size: 13px;

                        &:hover {
                            color: #c44860;
                        }
                    }

                    .normal-button.normal-button-sm {
                        margin: 0 auto 31px auto;
                    }
                }
            }
        }
    }
}

.best-seller .best-seller-product .item-hover .best-seller-info {
    padding: 24px 10px 0 10px;
    color: black;

    .product-info {
        text-transform: uppercase;
        font-family: Raleway;
        font-size: 14px !important;
        font-weight: 600 !important;
        letter-spacing: 1.2px;
    }

    .product-review {
        margin-top: 10px;
        color: #fec104;
        font-size: 11px;
        letter-spacing: 1.2px;
    }

    .product-price {
        font-family: Domine;
        font-weight: 400;
        font-size: 15px;
        margin-top: 4px;
        line-height: 40px;
        height: 40px;

        .current-price {
            color: #c44860;
            padding-right: 3px;
        }

        .old-price {
            color: #999697;
            text-decoration: line-through;
            font-family: Domine;
            padding-right: 10px;
        }

        .discount {
            border: 1px solid;
            border-radius: 50%;
            background-color: #c44860;
            color: white;
            display: inline-block;
            width: 37px;
            height: 37px;
            line-height: 40px;
            text-align: center;
            font-weight: 700px;
            font-size: 13px;
        }
    }
}

.discount-deal {
    margin-top: 111px;
    position: relative;

    .deal-txt-wrapper {
        position: absolute;
        top: 20%;
        width: 100%;
        height: 60%;

        .deal-txt {
            max-width: 1170px;
            margin: 0 auto;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 13px;

            .deal-sub-title {
                font-size: 14px;
                font-family: Raleway;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 1;
                padding: 2px 0 16px 0;
            }

            .title {
                font-family: Raleway;
                font-weight: 700;
                font-size: 46px;
                color: black;
                margin-right: -20px;
                padding-right: 20px;
                line-height: 1;

                &.gradient {
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(196, 72, 96, 1)), color-stop(100%, rgba(244, 174, 123, 1)));
                    /* safari4+,chrome */
                    background: -webkit-linear-gradient(3deg, rgba(196, 72, 96, 1) 0%, rgba(244, 174, 123, 1) 100%);
                    /* safari5.1+,chrome10+ */
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: Sail;
                    font-weight: 400;
                    font-size: 60px;
                    font-style: italic;
                    padding-bottom: 12px;
                }

                &.fixed-line {
                    letter-spacing: 0.49px;
                    margin-bottom: 9px;
                }
            }

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis; // dau 3 cham
                width: 49%;
                margin-right: 0;
                font-family: Domine;
                font-size: 18px;
                font-weight: 400;
                margin-top: 20px;
                line-height: 29px;
                margin-bottom: 46px;
            }

            .view {
                font-size: 18px;
                font-family: Raleway;
                font-weight: 700;
                color: black;
                letter-spacing: 0.2px;

                &:hover {
                    text-decoration: none;
                    color: #c44860;
                }
            }
        }
    }
}

// Section 5: New Arrivals

.new-arrivals {
    max-width: 1170px;
    position: relative;
    top: -130px;
    background-color: white;
    margin: 0 auto;
    z-index: 9999;

    .new-arrivals-heading {
        padding: 100px 100px;
        display: flex;
        justify-content: space-between;

        .heading-title {
            font-family: Raleway;
            font-size: 25px;
            font-weight: 600;
        }

        .mini-menu {
            font-family: Raleway;
            font-size: 15px;
            font-weight: 500;
            width: 23%;

            nav {
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 4px;
                padding-left: 3px;
                cursor: pointer;

                span:hover {
                    color: #c44860;
                }
            }
        }
    }

    .new-products {
        .product-item {
            img{
                width: 100%;

            }
            position: relative;
            &:hover .quick-action-wrapper{
                transform: scaleX(1);
                opacity: 1;
            }
            .quick-action-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 30px;
                // justify-content: center;
                // align-items: center;
                // display: none;
                transform: scaleX(0);
                transition: all 0.4s;
                opacity: 0;
            }

            .quick-action {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                background: white;
                text-align: center;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                -webkit-box-shadow: 0px 2px 30px 0px rgba(133, 133, 133, 0.25);
                -moz-box-shadow: 0px 2px 30px 0px rgba(133, 133, 133, 0.25);
                box-shadow: 0px 2px 30px 0px rgba(133, 133, 133, 0.25);

                // width: 73%;
                // opacity: 0;
                .txt-content {
                    color: #adaaab;
                    font-size: 15px;
                    font-family: Domine;
                    line-height: 23px;
                    max-width: 80%;
                    margin: 0 auto;
                    /* fallback */
                    // max-height: 32px;
                    /* fallback */
                    /* number of lines to show */
                    margin-bottom: 29px !important;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis; // dau 3 cham
                }

                .action-btn {
                    // outline: none;
                    // box-shadow: none;
                    border: 1px solid #e9e9e9;
                    border-radius: 50%;
                    padding: 10px 10px;
                    background: transparent;
                    color: #a5a0a1;
                    font-size: 13px;

                    &:hover {
                        color: #c44860;
                    }
                }

                .normal-button.normal-button-sm {
                    margin: 0 auto 31px auto;
                }
            }
        }
    }
}